body { background: #32fb7a; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 21px; display: flex; }
.block-logger-0 { color: #daffe6; font-size: 18px; margin-bottom: 5px; }
.block-sms-1 { color: #591d91; font-size: 17px; margin-bottom: 5px; }
.block-token-2 { color: #33db2d; font-size: 18px; margin-bottom: 5px; }
.block-order-3 { color: #407d3b; font-size: 19px; margin-bottom: 5px; }
.block-token-4 { color: #ff558b; font-size: 18px; margin-bottom: 5px; }